@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.navbar-brand {
  font-weight: bold;
  font-size: 24px;
}
.nav-link,
.nav-item {
  color: #000 !important;
  font-weight: 600 !important;
}
.btn {
  color: #fff;
}

.contact {
  background-image: url("../src/images/company.jpg");
  width: 100%;
  height: 200px;
  background-position: center;
  background-size: cover;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0.9;
}
.contact h3 {
  font-weight: bold;
  text-transform: uppercase;
}
.contact h6 {
  font-weight: bold;
  margin: 10px;
}
span {
  color: #f0ad4e;
}

.map-img {
  height: 300px;
  width: 800px;
  margin: 20px;
  padding-left: 20px;
  object-fit: cover;
}
.address {
  display: flex;
  flex-direction: row;
}
.fas {
  font-size: 20px;
  margin: 10px;
  color: #f0ad4e;
}
.address h6 {
  margin: 10px;
  font-weight: bold;
}
p {
  margin: 10px;
  color: rgb(173, 172, 172);
  font-weight: 500;
  font-size: 14px;
  padding-left: 2rem;
}
.mail {
  display: flex;
  flex-direction: row;
}
.mail h6 {
  margin: 10px;
  font-weight: bold;
}
.your {
  margin-top: 0 !important;
  padding-top: 0 !important;
}
.time {
  display: flex;
  flex-direction: row;
}
.time h6 {
  margin: 10px;
  font-weight: bold;
}
.far {
  font-size: 20px;
  margin: 10px;
  color: #f0ad4e;
}
.form {
  margin: 20px;
  padding-left: 20px;
}
.form h5 {
  text-transform: capitalize;
  font-weight: bold;
}
.form-control {
  width: 300px;
  font-size: 14px;
  margin: 10px;
}
.message {
  width: 500px;
  height: 200px !important;
}
.mess {
  font-size: 14px;
  color: grey;
}
.btn-warning {
  margin: 20px 5px;
  border-radius: none !important;
}
.fa-file-pdf {
  color: #fff;
}
.fa-download {
  color: #fff !important;
}
.doc {
  display: flex;
  flex-direction: column;
}

@media (max-width: 768px) {
  .map-img {
    width: 335px;
    padding: 0;
    margin: 0;
  }
  .form {
    margin: 0 !important;
    padding: 0 !important;
  }
  .message {
    width: 300px;
  }
}
